@font-face {
  font-family: 'SofiaPro';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(~/assets/fonts/SofiaPro-ExtraLight.woff2) format('woff2');
}
@font-face {
  font-family: 'SofiaPro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(~/assets/fonts/SofiaPro-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'SofiaPro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(~/assets/fonts/SofiaPro-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'SofiaPro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(~/assets/fonts/SofiaPro-Bold.woff2) format('woff2');
}
